* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-box{
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  box-shadow: 0 0 10px black;
}
.timeinfo{
  box-shadow: 0 0 18px rgb(255, 174, 81);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  top: 3%;
  left: 1%;
  position: absolute;
  text-align: center;
  padding:12px 22px;
  width: 13%;
  height: 9%;
  display: inline;
  color: rgb(255, 170, 96);
  background-color: rgba(0, 0, 0, 0.645);
  border-radius: 38px;
  border: 2px solid aliceblue;
}
.bn{
  box-shadow: 0 0 8px black;
  border: 2px solid white;
  font-size: 18px;
  font-weight: bolder;
  color: aliceblue;
  border-radius: 22px;
  background-color: transparent;
  margin-bottom: 1%;
  padding: 6px  22px;
  position: relative;
  left: 42%;
}
.bn:hover{
  box-shadow: 0 0 22px aliceblue;
  cursor: pointer;
  background-color: aliceblue;
  color: #313131;
}

#p1{
  color: rgb(255, 255, 255);
}
.container{
  box-shadow: 0 0 18px rgb(255, 255, 255);
  border: 2px solid aliceblue;
  border-radius: 12px;
  margin-top: 7%;
  left: 25%;
  position: relative;
  width: 50%;
  height: 0%;
  background-color: rgba(0, 38, 67, 0.571);
}
body {
  font-family: 'montserrat', sans-serif;
  background: url(bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.626);
  border-radius: 26px 8px 26px 8px;
  border-bottom: 3px solid rgb(255, 255, 255);
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  box-shadow: 0 0 22px aliceblue;
  background-color: rgb(255, 255, 255);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #fff;
  font-size: 16px;
}

.current .temp {
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

@media (max-width:450px){
  .timeinfo{
    font-size: 16px;
    top: 5%;
    left: 5%;
    padding:6px 22px;
    width: 33%;
    height: auto;
  }
  .container{
    margin-top: 29%;
    left: 6%;
    position: relative;
    width: 90%;
  }
  .bn{
    font-size: 12px;
    margin-bottom: 3%;
    padding: 6px  22px;
    left: 60%;
  }
}